################################################################################
Welcome to {{ ansible_hostname }} 
IPv4: {{ ansible_default_ipv4.address }}
IPv6: {{ ansible_default_ipv6.address }}
################################################################################
This system is private property.
It is for authorized use only.
################################################################################
