################################################
.######..##..##..######...####....####...######.
...##....##.##.....##....##......##..##....##...
...##....####......##....##.###..######....##...
...##....##.##.....##....##..##..##..##....##...
.######..##..##..######...####...##..##..######.
................................................
################################################

Welcome to {{ ansible_hostname }}.
This system is private property.
It is for authorized use only.
