################################################
.######..##..##..######...####....####...######.
...##....##.##.....##....##......##..##....##...
...##....####......##....##.###..######....##...
...##....##.##.....##....##..##..##..##....##...
.######..##..##..######...####...##..##..######.
................................................
################################################

Welcome to {{ ansible_hostname }} ({{ ansible_default_ipv4.address }})
This system is private property.
It is for authorized use only.
